{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<div class="container">
<h1>Account</h1>
<p>Manage my account</p>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Your profile</h2>
</div>
</div>
</div>
<div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
      <li><a href="#profile" data-toggle="tab">Password</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      {% if toggle %}
      	<div class="tab-pane active in" id="home">
      {% else %}
        <div class="tab-pane fade" id="home">	
      {% endif %}  
      <form id="tab1", class="form-horizontal" action="/user/profile_submit" method="POST">
        <div class="col-md-4">
        	{% if userpref %}
			{{ userpref.csrf_token }}
        	<div class="form-group">
            	<div class="col-sm-9">
                	{{ userpref.name(class="form-control", placeholder=profile.name)}}
            	</div>
        	</div>  
        	<div class="form-group">
            	<div class="col-sm-9">
                	{{ userpref.city(class="form-control", placeholder=profile.city )}}
            	</div>
        	</div> 
             <div class="form-group">
            	<div class="col-sm-9">
                	{{ userpref.news_pref(class="form-control", placeholder=profile.news )}}
            	</div>
        	</div> 
        	    <div class="form-group">
            	<div class="col-sm-9">
                	{{ userpref.currency(class="form-control", placeholder=profile.currency )}}
            	</div>
        	</div> 
        	     <div class="form-group">
            	<div class="col-sm-9">
                	{{ userpref.share(class="form-control", placeholder=profile.share )}}
            	</div>
        	</div> 
        	<div class="form-group">
                <div class="col-sm-9">
                   {{ userpref.submit(class="btn btn-primary btn-block")}}
                </div>   
            </div>    	
        </div>	  
       </form>
       {% endif %}
      </div>
     </div>

     {% if toggle %}
      	<div class="tab-pane fade" id="profile">
      {% else %}
        <div class="tab-pane active in" id="profile">
      {% endif %} 

    	<form id="tab2" class="form-horizontal" action="/user/pw_submit" method="POST">    		
        	<div class="col-md-4">
          		{% if passwordform %}
            {{ passwordform.csrf_token }}
            <div class="form-group">
              <div class="col-sm-9">
                {% if passwordform.password.errors %}
                  <ul class="errors">{% for error in passwordform.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                {{ passwordform.password(class="form-control", placeholder="Password" )}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                {% if passwordform.password2.errors %}
                  <ul class="errors">{% for error in passwordform.password2.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                {{ passwordform.password2(class="form-control", placeholder="Confirm Password" )}}
              </div>
             </div> 
             <div class="form-group">
                    <div class="col-sm-9">
                    {{ passwordform.submit(class="btn btn-primary btn-block")}}
                	</div>
             </div>
             </div>  
        </form>
        {% endif %} 
     </div>       
  </div>
{% endblock %}




