{% extends 'admin-home.html' %}

{% block bodytag %}
    <body {% if onloadmessage %} onload="alert('{{onloadmessage}}');" {% endif %}>
{% endblock %}


{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>mlexperience.org</h1>
        <p>Admin</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>User assistance</h2>
          <p>User assisted password reset</p>
        </div>
        <div class="col-md-4">
          <h2>Engage with the users</h2>
          <p>So they can regain access to the application.</p>
       </div>
        <div class="col-md-4">
          {% if registrationform %}
           <h2>Reset 'em now!</h2>
           <form class="form-horizontal" action="/admin/pw_submit" method="POST">
            {{ registrationform.csrf_token }}
             <div class="form-group">
              <div class="col-sm-9">
                {% if registrationform.email.errors %}
                  <ul class="errors">{% for error in registrationform.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                {{ registrationform.email(class="form-control", placeholder="Email Address" )}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                {% if registrationform.password.errors %}
                  <ul class="errors">{% for error in registrationform.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                {{ registrationform.password(class="form-control", placeholder="Password" )}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                {% if registrationform.password2.errors %}
                  <ul class="errors">{% for error in registrationform.password2.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                {{ registrationform.password2(class="form-control", placeholder="Confirm Password" )}}
              </div>
            </div> 
                <div class="form-group">
                    <div class="col-sm-9">
                    {{ registrationform.submit(class="btn btn-primary
                    btn-block")}}
                </div>
            </div>
           </form>
        {% endif %}                     
       </div>
      </div>
    </div>
{% endblock %}