{% extends 'base.html' %}

{% block bodytag %}
    <body {% if onloadmessage %} onload="alert('{{onloadmessage}}');" {% endif %}>
{% endblock %}


{% block content %}
<div class="jumbotron" style="height: 12rem;">
<div class='container'>
<h3>Admin - Manage mlexperience.org</h3>
<br />
</div>
</div>

<div class="container">
<div class='Row'>
  <h1>Subscribers</h1>
  <h2>Account management</h2>
  <a href={{ url_for('users_list_admin')}}> List of all users</a>
  <br/>
  <a href={{ url_for('admin_add') }}> Create a new user</a>
  <br/>
  <a href={{ url_for('admin_reset') }}> Reset a password</a>
  <br/>
  <h1>Security</h1>
  <h2>Logs</h2>
  <a href={{ url_for('web_log') }}> Web Log</a>
  <a href={{ url_for('access_log') }}> Access Log</a>  
  <a href={{ url_for('ftp_log') }}> FTP Log</a> 
  <br/>
</div>
</div> 
</div> 
{% endblock %}



