{% extends "base.html" %}

{% block bodytag %}
    <body {% if onloadmessage %} onload="alert('{{onloadmessage}}');" {% endif %}>
{% endblock %}


{% block navbar %}
    
    
{% endblock %}


{% block content %}

<div class="jumbotron">
<div class="container">
<h1>Dashboard</h1>
<p>View all deployed models below</p>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Models</h2>
<p>Under construction</p>
</div>
</div>
</div>

{% endblock %}






