{% extends "base.html" %}

{% block bodytag %}
    <body {% if onloadmessage %} onload="alert('{{onloadmessage}}');" {% endif %}>
{% endblock %}


{% block navbar %}
 
    
{% endblock %}


{% block content %}

<div class="jumbotron">
<div class="container">
  <h1>Classified text</h1>
        {% for article in articles %}
            <b><a href="{{article.link}}">{{article.title}}</a></b><br />
            <i>{{article.published}}</i><br />
            <p>{{article.summary}}</p> 
            <hr />
        {% endfor %}
        
<h1>Feedback</h1>
<p> How did the model do?/p>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Models</h2>
<p>Under construction</p>
</div>
</div>
</div>

{% endblock %}













