<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">

<title>Apache web logs</title>
    <script src="http://api.simile-widgets.org/exhibit/HEAD/exhibit-api.js"></script>
    <link rel="exhibit-extension" href="http://api.simile-widgets.org/exhibit/HEAD/extensions/map/map-extension.js"/>
    <link rel="exhibit-extension" href="http://api.simile-widgets.org/exhibit/HEAD/extensions/time/time-extension.js"/>

<link href="/static/log.txt" rel="exhibit/data" type="application/json"/> 

 <style>
       #main { width: 80%; }
       #timeline { width: 100%; vertical-align: top; }
       td { vertical-align: top; }
       .entry { border: thin solid black; width: 100%; }
       #facets  { padding: 0.5em; width: 20%; }
       .label { display: none; }
   </style>
   <style type = "text/css">
    ul.errors{
        list-style-type: none;
        padding: 0;
        color: red;
    }
</style>  
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,
initial-scale=1">
{% block metarefresh %} {% endblock %}
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<a class="navbar-brand" href="/dashboard">Dashboard</a>
<a class="navbar-brand" href="/account">Account</a>
<a class="navbar-brand" href={{ url_for('home_admin') }}> Admin</a>
<a class="navbar-brand" href="/logout">Logout</a>


</div>
</div>
</nav>
{% endblock %}


{% block content %}
<br/>
<br/>
<h2> Apache web log</h2>
<br/>
<br/>
<table id="main">
    <tr>
      <!-- The main display area for Exhibit -->
      <td ex:role="viewPanel">
        <div id="what-lens" ex:role="view"
             ex:viewClass="Exhibit.TileView"
             ex:label="What">
         </div>
        </div>
        <!-- Timeline view for the feed data -->
        <div id="timeline" ex:role="view"
             ex:viewClass="Timeline"
             ex:label="When"
             ex:start=".time"
             ex:colorKey=".status"
             ex:topBandUnit="day"
             ex:topBandPixelsPerUnit="200"
             ex:topBandUnit="week">
         </div>
       </td>
       <!-- Boxes to allow users narrow down their view of feed data -->
       <td id="facets">
         <div ex:role="facet" ex:facetClass="TextSearch"></div>
         <div ex:role="facet" ex:expression=".request" ex:facetLabel="Path"></div>
         <div ex:role="facet" ex:expression=".referer" ex:facetLabel="Referrer"></div>
         <div ex:role="facet" ex:expression=".remoteIP" ex:facetLabel="Origin"></div>
         <div ex:role="facet" ex:expression=".userAgent" ex:facetLabel="Client"></div>
         <div ex:role="facet" ex:expression=".status" ex:facetLabel="Status"></div>
       </td>
     </tr>
   </table>
{% endblock %}

<div class="container">
<hr>
<footer>
<p>&copy; mlexperience.org 2017</p>
</footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster
-->
<script
 src="https://ajax.googleapis.com/ajax/libs/
jquery/1.11.3/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
