{% extends "base.html" %}
{% block metarefresh %} 
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<a class="navbar-brand" href="/dashboard">Dashboard</a>
<a class="navbar-brand" href="/account">Account</a>
<a class="navbar-brand" href={{ url_for('home_admin') }}> Admin</a>
<a class="navbar-brand" href="/logout">Logout</a>
</div>
</div>
</nav>
{% endblock %}


{% block content %}
<div class="jumbotron" style="height: 12rem;">
<div class='container'>
<h3>News paper - Cognitive news articles</h3>
</div>
</div>


<div class="container">
    <div class='row'>
    {% for article in news %}
    <div class='col-md-4'>
    <div class='card' >
    <div class='card-header'> Profile match </div>  
    <div class='card_block'> 
    <h4 class='card-title'> {{article.title}}</h4>
    <h8 class='card-subtitle'> {{article.date }}</h8>
    <p class='card-text'> {{article.summary}} </p>
    <a href='{{article.link}}' class="card-link" target="_blank"> {{article.link}}</a>
    <hr />
    <a href="#" class="btn btn-primary btn-sm">Like</a>
    <a href="#" class="btn btn-primary btn-sm">Agree</a>
    <a href="#" class="btn btn-primary btn-sm">Dis-Agree</a>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Feedback</button>
    <hr />
    <div class='card-footer'>
      <small class='text-muted'> {{article.topic}} </small> 
    </div>   
    <hr />
    </div>
    </div>
    </div>
    {% endfor %}
    </div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback</h4>
      </div>
      <div class="modal-body">
      	{% if feedback %}
      	<div class='container'>
      	<form id="tab1", class="form-horizontal" action="/user/feedback_submit" method="POST">
			{{ feedback.csrf_token }}
			{{ feedback.model_id(class="form-control", value=0)}}	
			{{ feedback.element_id(class="form-control", value=1)}}
			{{ feedback.date(class="form-control", value=4)}}
            <div class="form-group">
            	<label for="feedback.label" class="col-md-1 col-form-label">Category</label>   
            		<div class="col-md-1">
                	{{ feedback.label(class="form-control", value=2)}}
            		</div>
        	</div> 
        	<div class="form-group">
            	<label for="feedback.like" class="col-md-1 col-form-label">Like</label>     
            		<div class="col-md-1">
                	{{ feedback.like(class="form-control", value=3)}}
            		</div>
        	</div> 
        	<div class="form-group">
               	<label for="feedback.agree" class="col-md-1 col-form-label">Agree</label>           
            	<div class="col-md-1">
                	{{ feedback.agree(class="form-control", value='5')}}
            	</div>
        	</div> 
        	<div> 
        		<label for="feedback.comment" class="col-md-1 col-form-label">Comment</label>           
            	<div class="col-md-3">
                	{{ feedback.comment(class="form-control", value='6')}}
            	</div>
        	</div> 
        	<div class="form-group">
        		<br />
                <div class="col-md-1">
                   {{ feedback.submit(class="btn btn-primary btn-block")}}
                </div>   
            </div>       
       	</form>
       {% endif %} 

      </div>
  </div>
</div>
</div>


{% endblock %}
