{% extends 'admin-home.html' %}

{% block bodytag %}
    <body {% if onloadmessage %} onload="alert('{{onloadmessage}}');" {% endif %}>
{% endblock %}

{% block content %}
  <div class="jumbotron" style="height: 12rem;">
  <div class='container'>
  <div class='row'>
  <div class='col-md-6'>
  <br />
  <h4> User listing </h4>
  </div>
  </div>
  </div>
  </div>
  <div class='container'>
  <div class='row'>
  <div class='col-md-6'>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class='text-center'>email address</th>
        <th class='text-center'>Is Admin ?</th>
        <th class='text-center'>Update Admin</th>
        <th class='text-center'>Delete User</th>
        <th class='text-center'>Active User</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td class="text-center">{{ user.email }}</td>
          <td class="text-center">{{ user.admin }}</td>
          <td class="text-center">
            <a class="btn btn-info btn-xs" href={{ url_for('users_edit_admin', id=user.email) }}> Update</a>
          </td>
          <td class="text-center">
            <a class="btn btn-danger btn-xs" href={{ url_for('users_delete_admin', id=user.email) }}> Delete</a>
          </td>
          {% if user.email_val %}
          <td class="text-center">{{ user.email_val }}</td>
          {% else %}
          <td class="text-center">False</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
  </div>
{% endblock %}



